:root {
    --card-width: 66px;
    --card-height: 100px;
}

.background {
    background-color: #0d8055;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.game-area {
    display: grid;
    grid-template-columns: 10% 15% 50% 15% 10%;
    grid-template-rows: 15% 15% 40% 15% 15%;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 2px solid #ffffff;
}

.card-container-TOP {
    display: flex;
    flex-direction: row;
    gap: 0px 0px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.card-container-BOTTOM {
    display: flex;
    flex-direction: row;
    gap: 0px 0px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.card-container-LEFT {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    align-items: flex-start;
    margin-left: 20%;
}

.card-container-RIGHT {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    align-items: flex-end;
    margin-right: 20%;
}

.card-VERTICAL {
    height: var(--card-height);
    width: var(--card-width);
    margin-bottom: -70px;
}

.card-HORIZONTAL {
    height: var(--card-height);
    width: var(--card-width);
    margin-right: -30px;
}

.card:last-child {
    margin-right: 0px;
}

.card-TOP {
}

.card-LEFT {
    transform: rotate(90deg);
}

.card-RIGHT {
    transform: rotate(90deg);
}

.meld-pile-container-TOP {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.meld-pile-container-BOTTOM {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.meld-pile-container-LEFT {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;   
}

.meld-pile-container-RIGHT {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20%;   
}
.meld-pile-HORIZONTAL {
    height: var(--card-height);
    width: var(--card-width);
    border: 2px solid white;
    margin-right: 60px;
    background: linear-gradient(to bottom, #0d8022 0%, #0d8055 76%);
}

.meld-pile-VERTICAL {
    height: var(--card-height);
    width: var(--card-width);
    border: 2px solid white;
    background: linear-gradient(to bottom, #0d8022 0%, #0d8055 76%); /*add it as a variable*/
    transform: rotate(90deg);
}

.meld-pile-HORIZONTAL:last-child {
    margin-right: 0px;
}

.deck-container {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 30%;
    left: 55%;
    /* align-items: center;
    justify-content: center; */
}

.deck-card {
    position: absolute;
    /* z-index: 1; */
    height: var(--card-height);
    width: var(--card-width);
}

.discard-pile {
    position: relative;
    height: var(--card-height);
    width: var(--card-width);
    top: 30%;
    left: 40%;
    border: 2px solid white;
    background: radial-gradient(circle,rgba(13, 128, 0, 1) 0%, rgba(13, 128, 119, 0.86) 100%);
}
